@tailwind base;
@tailwind components;
@tailwind utilities;
.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.comment-user {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-content p {
    margin: 0;
}

